<form [formGroup]="form">
  <!--Division Header-->
  <ion-item-divider no-padding class="input-subtitle">
    <ion-select class="input-fitted" formControlName="gender">
      <ion-option>Coed</ion-option>
      <ion-option>Men</ion-option>
      <ion-option>Women</ion-option>
    </ion-select>
    <ion-input type="text" class="input-fitted" formControlName="level"></ion-input>
    <button ion-button mini outline item-end (click)="addPool()">
      <ion-label color="primary">Add Pool</ion-label>
      <ion-icon name="add" color="secondary"></ion-icon>
    </button>
    <button margin-left ion-button clear icon-only item-end (click)="removeDivision()">
      <ion-icon name="close" color="danger"></ion-icon>
    </button>
  </ion-item-divider>

  <!--Pools-->
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 col-xl-6 *ngFor="let pool of division.pools">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <pool-form [pool]="pool" (destroyPool)="removePool($event)"></pool-form>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<!--Spinner Block-->
<!--<ng-template #spinnerBlock>-->
<!--<ion-row justify-content-center align-items-center style="height: 200px">-->
<!--<ion-spinner></ion-spinner>-->
<!--</ion-row>-->
<!--</ng-template>-->
