<ion-col [formGroup]="form" col-12 no-padding>
  <!--Pool Metadata-->
  <ion-row>
    <ion-col col-3 no-padding>
      <ion-item class="no-validation-border">
        <h1 class="h1-label" ion-text color="medium" item-start>Pool</h1>
        <ion-input item-end class="input-fitted h1-input" type="text" formControlName="title"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col push-8 col-1 no-padding>
      <button color="medium" icon-only mini clear float-end ion-button no-border
              (click)="destroyPool()">
        <ion-icon color="danger" name="close"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-5 formGroupName="location" no-padding>
      <ion-item class="no-validation-border">
        <ion-label item-start>Gym</ion-label>
        <ion-input item-end class="input-fitted" type="text"
                   formControlName="location"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3 formGroupName="location" no-padding>
      <ion-item class="no-validation-border">
        <ion-label item-start>Court</ion-label>
        <ion-input item-end class="input-fitted" type="text" formControlName="court"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item class="no-validation-border">
        <h2 item-start ion-text color="medium">@</h2>
        <ion-datetime displayFormat="hh:mm a"
                      formControlName="startTime"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <!--Teams-->
  <ion-row>
    <ion-col col-12 no-padding>
      <ion-item-group>
        <ion-item-divider>
          <ion-label item-start>Teams</ion-label>
          <button ion-button item-end icon-end small clear color="light"
                  [disabled]="isFormUpdating"
                  (click)="addTeam()">
            <ion-label color="primary">Add Team</ion-label>
            <ion-icon name="add" color="secondary"></ion-icon>
          </button>
        </ion-item-divider>
      </ion-item-group>
      <ion-list reorder="true" side="start" (ionItemReorder)="reorderTeams($event)">
        <ion-item *ngFor="let team of pool.teams; let j = index;">
          <div class="w-100" item-content>
            <team-form [team]="team"
                       [orderNum]="j+1"
                       (formIsUpdating)="handleTeamFormUpdating($event)"
                       (teamUpdated)="teamFormUpdated($event)"
                       (destroyTeam)="removeTeam($event)">

            </team-form>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <!--Pool Schedule-->
  <ion-row align-items-end>
    <ion-col col-12 no-padding>
      <ion-item-divider>
        <ion-label>Schedule</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-row no-padding>
          <ion-col no-padding>
            <ion-row *ngFor="let match of pool.matches">
              <ion-col col-3 no-padding>
                <ion-item no-padding>
                  <ion-datetime displayFormat="h:mm a"
                                [(ngModel)]="match.scheduledTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col col-9 no-padding>
                <ion-row>
                  <ion-col col-5 no-padding>
                    <ion-label text-center color="medium">{{match.teams[0].title}}</ion-label>
                  </ion-col>
                  <ion-col col-1 no-padding>
                    <ion-label text-center color="medium">vs.</ion-label>
                  </ion-col>
                  <ion-col col-5 no-padding>
                    <ion-label text-center color="medium">{{match.teams[1].title}}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <!--spinner during updating-->
            <ion-row *ngIf="pool.teams && pool.teams.length && isFormUpdating" class="spinner-overlay" no-padding
                     align-items-center
                     justify-content-center>
              <ion-spinner></ion-spinner>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-col>
