<div class="item-inner" [formGroup]="form">
  <div class="input-wrapper">
    <ion-label *ngIf="orderNum">{{orderNum}}.</ion-label>
    <ion-input formControlName="title"
               (ionBlur)="updateTeamTitle()"
               (keydown.enter)="updateTeamTitle()"></ion-input>
    <ion-buttons padding-vertical float-end>
      <ion-spinner *ngIf="isFormUpdating"></ion-spinner>
      <!--<button class="dimmed-hover-icon-button" icon-only-->
      <!--tabindex="-1"-->
      <!--[disabled]="isFormUpdating">-->
      <!--&lt;!&ndash;(click)="editTeam(team)">&ndash;&gt;-->
      <!--<ion-icon color="dark" name="brush"></ion-icon>-->
      <!--</button>-->
      <button class="dimmed-hover-icon-button" icon-only
              tabindex="-1"
              [disabled]="isFormUpdating"
              (click)="removeTeam()">
        <ion-icon name="remove"
                  [color]="isFormUpdating ? 'medium' : 'danger'"></ion-icon>
      </button>
      <ion-icon *ngIf="formNeedsUpdating()" name="bookmark" color="secondary"></ion-icon>
    </ion-buttons>
  </div>
</div>

