<form *ngIf="tournament" [formGroup]="tournamentForm">
  <ion-item-divider>
    <ion-input text-center class="input-title" type="text" formControlName="title"
               (keyup.enter)="updateTournament()"></ion-input>
  </ion-item-divider>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row no-padding>

          <!--Image-->
          <ion-col *ngIf="tournament.image" col-12 col-lg-4 no-padding align-self-center>
            <ion-item>
              <img [src]="tournament.image">
            </ion-item>
          </ion-col>

          <!--Dynamically set col-width based on having an image or not-->
          <ion-col col-12 [attr.col-lg-8]="tournament.image" align-self-start>

            <!--Dates and Venue-->
            <ion-row>
              <ion-col col-12 col-md-4 formGroupName="dates">
                <ion-item padding-left>
                  <ion-label stacked color="primary">Start Date</ion-label>
                  <ion-datetime
                    formControlName="start"
                    [max]="dateInputMaxDate"
                    displayFormat="MM/DD/YYYY"
                    placeholder="MM/DD/YYYY">
                  </ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col col-12 col-md-4 formGroupName="dates">
                <ion-item padding-left>
                  <ion-label stacked color="primary">End Date</ion-label>
                  <ion-datetime
                    formControlName="end"
                    [min]="minEndDate"
                    [max]="dateInputMaxDate"
                    displayFormat="MM/DD/YYYY"
                    placeholder="MM/DD/YYYY">
                  </ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col col-12 col-lg-4 formGroupName="location">
                <ion-item>
                  <ion-label stacked color="primary">Venue</ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <!--Location-->
            <ion-row formGroupName="location" no-padding>
              <ion-col col-12 col-lg-6>
                <ion-item>
                  <ion-label stacked color="primary">Address</ion-label>
                  <ion-input type="text" formControlName="address" [value]=""></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-8 col-lg-4>
                <ion-item>
                  <ion-label stacked color="primary">City</ion-label>
                  <ion-input formControlName="city"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-4 col-lg-2>
                <ion-item>
                  <ion-label stacked color="primary">State</ion-label>
                  <ion-select formControlName="state"
                              [selectOptions]="{title: 'State', type: 'text'}">
                    <ion-option *ngFor="let state of states" [value]="state">{{state}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <!--Status-->
            <ion-row margin-vertical>
              <ion-col push-md-6 col-md-6 col-12 justify-content-end>
                <ion-item>
                  <ion-label text-right>Status: <a ion-text
                                                   [color]="tournamentForm.get('status').value ? 'secondary' : 'primary'">{{tournamentForm.get('status').value
                    ? 'ACTIVE' : 'DRAFT'}}</a>
                  </ion-label>
                  <ion-toggle color="secondary" formControlName="status"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</form>

