login {
  background-color: color($colors, primary, base);
  background-image: url('../assets/images/logo.png');
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;

  .button {
    position: fixed;
    bottom: 0;
  }
}
