dashboard-sidebar-results {
  .dashboard-results-list-container {
    overflow-y: scroll;
    height: 90%;
  }

  .dashboard-sidebar-row {
    height: 100%;
  }

  .dashboard-spinner {
    width: 4em;
    height: 4em;
  }
}
