<ion-item ion-text text-center no-padding no-margin>
  <ion-label no-margin>
    <h2 ion-text margin-top>Team Standings</h2>
    <ion-row no-padding no-margin>
      <ion-col no-padding col-2 align-items-end justify-content-center>
        <small ion-text color="dark">Rank</small>
      </ion-col>
      <ion-col no-padding push-4 col-2 align-items-end justify-content-center>
        <small ion-text color="dark">Matches</small>
      </ion-col>
      <ion-col no-padding push-4 col-2 align-items-end justify-content-center>
        <small ion-text color="dark">Games</small>
      </ion-col>
      <ion-col no-padding push-4 col-2 align-items-end justify-content-center>
        <small ion-text color="dark">Points</small>
      </ion-col>
    </ion-row>
  </ion-label>
</ion-item>
<div class="dashboard-results-list-container" *ngIf="results; else spinner">
  <ion-list class="dashboard-results">
    <ion-item-group *ngFor="let division of results">
      <ion-item-divider
        color="light" sticky padding-left no-margin>
        <ion-label no-margin>{{division.gender}}'s {{division.level}}</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let key of division.teamStats | keys">
        <ion-row no-padding no-margin align-items-center>
          <ion-col col-1 align-items-center>
            <p ion-text *ngIf="division.teamStats[key].rank">{{division.teamStats[key].rank}}.</p>
          </ion-col>
          <ion-col col-5 align-items-start>
            <h2 ion-text text-wrap>{{division.teamStats[key].title}}</h2>
          </ion-col>
          <ion-col col-2 align-items-center>
            <p ion-text>{{division.teamStats[key].matchWins}}-{{division.teamStats[key].matchLosses}}</p>
          </ion-col>
          <ion-col col-2 align-items-center>
            <p ion-text>{{division.teamStats[key].gameWins}}-{{division.teamStats[key].gameLosses}}</p>
          </ion-col>
          <ion-col col-2 align-items-center>
            <a ion-text color="secondary">{{division.teamStats[key].pointDifferential}}</a>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-list>
</div>
<ng-template #spinner>
  <ion-row *ngIf="!loadError; else errorBlock" justify-content-center align-items-center class="dashboard-sidebar-row">
    <ion-spinner class="dashboard-spinner"></ion-spinner>
  </ion-row>
  <ng-template #errorBlock>
    <ion-row justify-content-center align-items-center class="dashboard-sidebar-row">
      <ion-col>
        <ion-item>
          <ion-label text-wrap text-center color="medium">Something went wrong. Failed to get results.</ion-label>
        </ion-item>
        <button no-border ion-item icon-only text-center (click)="retryLoadResults()">
          <ion-icon color="medium" name="refresh"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ng-template>
</ng-template>

