<ion-row>
  <ion-col align-self-start>
    <ion-item no-lines>
      <ion-range snaps="true" pin="true" step="1" min="1" max="5" [(ngModel)]="numOfGames">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>5</ion-label>
      </ion-range>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row no-padding no-margin align-items-start justify-content-center>
  <ion-col col-12 col-md-4 col-lg-3 col-xl-2 *ngFor="let control of form.controls; let i = index"
           [formGroup]="control">
    <ion-item no-padding no-margin text-center>
      <ion-label color="secondary" no-padding>Game {{i+1}}</ion-label>
    </ion-item>
    <ion-item no-padding no-margin>
      <ion-label stacked>Target</ion-label>
      <ion-select formControlName="target"
                  [selectOptions]="{title: 'Target Score', type: 'text'}">
        <ion-option *ngFor="let target of gameScoreOptions"
                    [value]="target">{{target | infinity:'&#8734;'}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding no-margin>
      <ion-label stacked>Cap</ion-label>
      <ion-select formControlName="cap"
                  [selectOptions]="{title: 'Cap  Score', type: 'text'}">
        <ion-option *ngFor="let cap of gameScoreOptions"
                    [value]="cap">{{cap | infinity:'-'}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>

