<ion-header>
  <ion-navbar>
    <ion-title>Tourney Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row class="dashboard-content">
    <ion-col *ngIf="tournament" col-12 col-lg-9 class="dashboard-main-content">
      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{tournament.title}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-row>
      <dashboard-division *ngFor="let division of tournament.divisions"
                          [divisionId]="division._id"></dashboard-division>
    </ion-col>
    <ion-col fixed col-12 col-lg-3>
      <ion-card class="dashboard-sidebar">
        <dashboard-sidebar-results></dashboard-sidebar-results>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="dashboard-ticker">
  <ion-card>

  </ion-card>
</ion-footer>
