page-dashboard {

  .dashboard-content {
    height: 100%;
    overflow-y: hidden;
  }

  .dashboard-main-content {
    height: 100%;
    overflow-y: scroll;
  }

  .dashboard-ticker {
    height: 100px;
    min-height: 100px;
  }

  .dashboard-sidebar {
    height: 100%;
    min-height: 100%;
  }
}
