<ion-header>
  <ion-navbar>
    <ion-title>
      Tournament Import
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right top edge #menuFab>
    <button ion-fab mini color="light">
      <ion-icon name="add" [color]="submitButtonColor"></ion-icon>
    </button>
    <ion-fab-list>
      <button id="csv-export-fab" ion-fab (click)="exportCsvTemplate()">
        <p>CSV</p>
      </button>
      <button id="submit-fab" ion-fab [color]="submitButtonColor" (click)="submitForm()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <form [formGroup]="tournamentForm" (submit)="submitForm($event)">
    <ion-grid no-padding>
      <ion-row>
        <ion-item>
          <ion-label stacked color="primary">Tournament Title</ion-label>
          <ion-input type="text" formControlName="tournamentTitle"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row formGroupName="dates">
        <ion-col col-12 col-sm>
          <ion-item>
            <ion-label stacked color="primary">Start Date</ion-label>
            <ion-datetime
              formControlName="start"
              [max]="dateInputMaxDate"
              displayFormat="MM/DD/YYYY"
              placeholder="MM/DD/YYYY">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm>
          <ion-item>
            <ion-label stacked color="primary">End Date</ion-label>
            <ion-datetime
              formControlName="end"
              [min]="minEndDate"
              [max]="dateInputMaxDate"
              displayFormat="MM/DD/YYYY"
              placeholder="MM/DD/YYYY">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <div formGroupName="location">
        <ion-row>
          <ion-col col-12 col-md-6>
            <ion-item>
              <ion-label stacked color="primary">Venue</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-9 col-md-5>
            <ion-item>
              <ion-label stacked color="primary">City</ion-label>
              <ion-input formControlName="city"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 col-md-1>
            <ion-item>
              <ion-label stacked color="primary">State</ion-label>
              <ion-select formControlName="state"
                          [selectOptions]="{title: 'State', type: 'text'}">
                <ion-option *ngFor="let state of states" [value]="state">{{state}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label stacked color="primary">Address</ion-label>
            <ion-input type="text" formControlName="address" [value]=""></ion-input>
          </ion-item>
        </ion-row>
      </div>
      <ion-row>
        <ion-card>
          <ion-card-header text-center>
            <ion-card-title color="primary">Match Formats</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <game-format-form [numOfGames]="3" (scoresFormArray)="updateScoreFormArray($event)"></game-format-form>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row align-items-end>
        <ion-col col-12 col-sm-3 col-md-2>
          <ion-label padding-left stacked color="primary">Template File</ion-label>
          <button margin-left ion-button right small (click)="onFileInput($event)">
            <ion-icon padding-right icon-start name="add"></ion-icon>
            Upload
          </button>
          <input #fileInput type="file" (change)="onNativeFileInput()" formControlName="tournamentFile"
                 style="display: none;">
        </ion-col>
        <ion-col col-12 col-sm-8 col-md-6>
          <ion-item>
            <ion-label>{{inputFileName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row align-items-end>
        <ion-col col-12 col-sm-3 col-md-2>
          <ion-label padding-left stacked color="primary">Tournament Logo</ion-label>
          <button margin-left ion-button right small (click)="onImageInput($event)">
            <ion-icon padding-right icon-start name="add"></ion-icon>
            Upload
          </button>
          <input #imageInput type="file" (change)="onNativeImageInput()" formControlName="tournamentImage"
                 style="display: none;">
        </ion-col>
        <ion-col col-12 col-sm-8 col-md-6>
          <ion-item>
            <ion-label>{{inputImageName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
