page-home {

  .container-full-screen {
    height: 100%;
  }

  .spinner-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: white;
    opacity: .5;
    z-index: 999;

    ion-spinner {
      height: 6rem;
      width: 6rem;
    }
  }

}
