<ion-header>
  <ion-toolbar>
    <ion-title>Tourney Admin</ion-title>
  </ion-toolbar>
  <ion-fab mini bottom right edge #menuFab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list>
      <button  ion-fab (click)="openImportPage($event)">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab (click)="logout()">
        <small ion-text>Logout</small>
      </button>
      <button *ngIf="isTestEnv()" ion-fab (click)="testView()">
        <small ion-text>Test</small>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-header>

<ion-content padding>
  <ion-grid class="container-full-screen">
    <ion-row class="container-full-screen" justify-content-center>
      <ion-col>
        <home-edit></home-edit>
        <div class="spinner-overlay" align-items-center *ngIf="isLoading">
          <ion-spinner></ion-spinner>
        </div>
      </ion-col>
      <ng-template *ngIf="!tournament">
        <ion-col  text-center align-self-center>
          <h3 ion-text color="medium">Select a tournament</h3>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>



