
home-edit {

  //#region Font Styles

  .h1-input {
    @extend h1
  }

  .h1-label {
    margin-top: .3rem !important;
  }

  //#endregion

  //#region overrides

  //#endregion

  //#region Form Styles

  //#region Input

  .input-title {
    font-size: 2em;
  }

  .input-subtitle {
    font-size: 1.75em;
  }

  .input-fitted {
    flex: none;
    width: auto;
  }

  //#endregion

  //#region Validation

  .no-validation-border {
    border-bottom: none !important;
    box-shadow: none !important;

    .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
    }
  }

  .custom-validation-bottom-border-inner > .item-inner {
    border-bottom-color: color($colors, primary) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, primary) !important;
  }

  .row-validation-bottom-border {
    border-bottom: $item-md-divider-border-bottom;
  }

  //#endregion

  //#region Buttons

  .dimmed-hover-icon-button {
    opacity: .4;
  }

  .dimmed-hover-icon-button:hover {
    opacity: 1;
    cursor: pointer;
  }

  //#endregion

  //#endregion

  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color($colors, overlay);
  }
}

//#endregion


//#region alert pop ups
