<ng-container *ngIf="tournament">
  <button float-md-left ion-button full outline (click)="openDashboard()">
    <ion-icon name="analytics"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </button>
  <home-edit-tournament-form [tournament]="tournament"></home-edit-tournament-form>
  <ion-item-divider margin-bottom>
    <h1>Divisions</h1>
  </ion-item-divider>
  <division-form *ngFor="let division of tournament.divisions" (deleteDivision)="onDeleteDivision($event)" [division]="division"></division-form>
</ng-container>

