<ion-header>
  <ion-item-divider item-start>
    <ion-avatar item-start>
      <img *ngIf="user" [src]="user.image">
    </ion-avatar>
    <h3 text-wrap>Your Tournaments</h3>
  </ion-item-divider>
</ion-header>
<ion-content no-padding>
  <ion-list>
    <button full ion-item *ngFor="let tournament of $tournaments | async as tournament"
            [ngClass]="{'active': tournament._id === selectedTournamentId}"
            (click)="onTournamentSelect(tournament)">
      <h3 ion-text text-wrap>{{tournament.title}}</h3>
      <a ion-text text-right style="font-size: .5em;" item-end>{{tournament.dates | dateRangeDisplay}}</a>
    </button>
  </ion-list>
  <ion-row *ngIf="!isInitiated" align-items-center justify-content-center>
    <ion-col text-center>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>

