home-sidebar {

  /*************
  Buttons
  *************/
  .active {
    border-right: color($colors, secondary) 2px solid;
  }

  .scroll-content {

    &::-webkit-scrollbar {
      display: none;
    }
  }

}


