<ion-content>
  <ion-row align-items-center>
    <ion-col [formGroup]="form">
      <ion-item>
        <ion-label stacked>Title</ion-label>
        <ion-input #titleInput (keydown.enter)="submit()" type="text" formControlName="title"></ion-input>
      </ion-item>
      <!--Start Date-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Start Time</ion-label>
            <ion-datetime formControlName="startTime"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col align-self-end>
          <ion-item>
            <ion-label>@</ion-label>
            <ion-datetime formControlName="startTime" displayFormat="hh:mm a"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--Location-->
      <ion-row formGroupName="location">
        <ion-col>
          <ion-item>
            <ion-label stacked>Gym</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Court</ion-label>
            <ion-input type="text" formControlName="court"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <game-format-form [numOfGames]="3" (scoresFormArray)="updateScoreFormArray($event)"></game-format-form>
    </ion-col>
  </ion-row>
</ion-content>
<!--Footer-->
<ion-footer>
  <ion-row justify-content-center>
    <button ion-button
            color="secondary"
            [disabled]="!form.valid"
            (click)="submit()">
      <ion-icon item-start name="add"></ion-icon>
      Add Pool
    </button>
    <button outline ion-button
            float-end
            color="danger"
            (click)="cancel()">
      <ion-icon item-start name="close"></ion-icon>
      Cancel
    </button>
  </ion-row>
</ion-footer>
