/**
SIZING UTILITIES
 */

$sizes: () !default;
$sizes: map_merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);

/**
Create dimension sizing classes for height and width:
@example w-50 { width: 50%; }
 */
@each $dimension, $abbr in (height: h, width: w) {
  @each $prop, $perc in $sizes {
    .#{$abbr}-#{$prop} {
      #{$dimension}: $perc !important;
    }
  }
}
