<ion-header>
  <ion-navbar>
    <ion-title>Tourney Admin</ion-title>
  </ion-navbar>
  <ion-fab mini bottom right edge #menuFab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="openImportPage($event)">
        <ion-icon name="analytics"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="(tournaments$ | async) as tournaments">
        <ion-list-header>
          <ion-title>Tournaments</ion-title>
          <button float-end icon-only (click)="refreshData()">
            <ion-icon name="refresh"></ion-icon>
          </button>
        </ion-list-header>
        <ion-list>
          <button ion-button outline clear *ngFor="let tournament of tournaments" (click)="onTournamentSelect(tournament._id)">
            <ion-label item-start>{{tournament.title}}</ion-label>
            <p ion-text color="medium">{{tournament._id}}</p>
          </button>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="currTournament">
        <ion-list-header>
          <ion-title>Divisions</ion-title>
        </ion-list-header>
        <ion-list>
          <ion-item-group *ngFor="let division of currTournament.divisions">
            <ion-item-divider>{{division.gender}} {{division.level}}</ion-item-divider>
            <button ion-button full outline clear (click)="onPoolSelect(pool._id)" *ngFor="let pool of division.pools">
              <ion-label item-start>Pool {{pool.title}}</ion-label>
              <p ion-text color="medium">{{pool._id}}</p>
            </button>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(data$ | async) as data">
      <ngx-json-viewer [json]="data" [expanded]="false"></ngx-json-viewer>
    </ion-row>
  </ion-grid>
</ion-content>
