<ion-row *ngIf="division">
  <ion-card-header>
    <ion-card-title>
      {{division.gender}}'s {{division.level}}
    </ion-card-title>
  </ion-card-header>
  <ion-col col-4 *ngFor="let pool of division.pools">
    <ion-card>

    </ion-card>
  </ion-col>
</ion-row>
